/* best styles evah */

body {
    background: url('images/broken_noise_blur.png');
    color: #e1e4e6;
    font-family: 'Arapey', serif;
    font-size: 20px;
}

.wrapper {
    padding: 35px 35px 0;
    margin: 0 auto;
    width: 900px;
}

.column_lg {
    float: right;
    width: 554px; /* goldenRectangle */
}

.column_sm {
    float: left;
    width: 306px; /* leave 40px gutter */
}

#header {
    height: 158px; /* same as height of #logo */
    margin: 0 0 35px;
    width: 550px; /* same width as #goldenRectangle */
    text-shadow: 1px 1px 4px #898B8C;
    filter: dropshadow(color=#898B8C, offx=1, offy=1);
}

#footer {
    background-color: rgba(0,0,0,0.25);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
    border-radius: 2px;
    color: #dadcf3;
    font-size: .8em;
    font-variant: small-caps;
    height: 12px;
    margin: 35px 0 0;
    padding: 15px;
    width: 100%;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
    font-style: italic;
    margin-bottom: 0.5em;
}


p {
    margin-bottom: 1em;
}

em {
    font-style: italic;
}

ul, ol {
}

li {
    border-bottom: 1px dashed #9fccea;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 5px 2px;
}

li:hover {
	background-color: rgba(159,204,234,.8);
}

#justSomeHTML li:hover {
    border: 1px solid #9fccea;
    cursor: ns-resize;
}



a:link, a:visited, a:hover, a:active {
    color: #e1e4e6;
    border-bottom: 2px #9fccea dotted;
    text-decoration: none;
}

a:hover, a:active {
    color: #9fccea;
    border-bottom: 2px #9fccea dotted;
    text-decoration: none;
}

li.tmpPlaceholder {
    background: url('images/stripe.png') repeat;
    background-color: #9fccea;
}

/* sidebar stuff ("signs") */


.signs {
    background-color: #e1e4e6;
    border: 1px solid #9fccea;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
    border-radius: 2px;
        -webkit-box-shadow: 1px 1px 15px 3px rgba(100, 102, 102, 1);
        -moz-box-shadow: 1px 1px 15px 3px rgba(100, 102, 102, 1);
    box-shadow: 1px 1px 15px 3px rgba(100, 102, 102, 1);
    color: #465966;
    margin: 35px 0;
    padding: 15px 10px;
    width: 215px;
}


.signs h2 {
    border-bottom: 2px dashed #9fccea;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    padding: 0 0 5px;
    text-align: center;
}

.signs p {
    font-size: 16px;
}

.signs a:link, a:visited, a:hover, a:active {
    border: none;
    color: #465966;
    text-decoration: none;
}

.signs a:hover {
    border: none;
    text-decoration: none;
}

/* mix it up! */
#rules {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    translatex(-2px);
}

#controls, #more {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    translatex(2px);
}

.rollup2, .rollup3 {
    display: none;
}

/* drag and drop controls */
/* @joey - need your magic here! */



/* order of elements */
/* a.order {
    border: none;
    color: #465966;
    cursor: ns-resize;
    display: inline-block;
    text-decoration: none;
}

a.order:hover {
    border: none;
    text-decoration: none;
}

*/




/* float on left or right */
a.floatSide {
    cursor: ew-resize;
    float: right;
    font-size: .85em;
    font-style: italic;
    text-align: right;
}

a.floatSide:hover {
    background-color: #ecec91;
    border: none;
    text-decoration: none;
}

/* main stuff ("sandbox") */


.sandbox {
    border: 1px solid #9fccea;
    color: #465966;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
    border-radius: 2px;
        -webkit-box-shadow: 1px 1px 15px 3px rgba(100, 102, 102, 1);
        -moz-box-shadow: 1px 1px 15px 3px rgba(100, 102, 102, 1);
    box-shadow: 1px 1px 15px 3px rgba(100, 102, 102, 1);
}

#goldenRectangle {
    height: 340px; /* height of largest */
    width:  550px; /* next fibonacci number :) */
}

/* golden-sections */
#goldenRectangle > div, #goldenRectangle > li {
    background-color: #e1e4e6;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
    border: 1px solid #9fccea;
    border-radius: 2px;
        -webkit-box-shadow: 1px 1px 15px 3px rgba(100, 102, 102, 1);
        -moz-box-shadow: 1px 1px 15px 3px rgba(100, 102, 102, 1);
    display: block;
    float: left;
}


#section-7 > p, #section-8 > p, #section-9 > p {
    font-size: .9em; padding: 6px;
}

#section-5 > p, #section-6 > p {
    font-size: .7em; padding: 2px;
}

#section-4 > p, #section-3 > p {
    font-size: .5em; padding: 1px;
}

#section-2 > p, #section-1 > p {
    font-size: .3em; padding: 0px;
}

#section-9 {height: 338px; width: 338px;}
#section-8 {height: 208px; width: 208px;}
#section-7 {height: 128px; width: 128px;}
#section-6 {height: 78px; width: 78px;}
#section-5 {height: 48px; width: 48px;}
#section-4 {height: 28px; width: 28px;}
#section-3 {height: 18px; width: 18px;}
#section-2 {height: 8px; width: 8px;}
#section-1 {height: 8px; width: 8px;}


/* images etc. */

#spiral {
    height:;
    width: 245px;
}

.floatLeft {float: left;}
.floatRight {float: right;}