/* best styles evah */

body {
    background: url('images/broken_noise_blur.png');
    color: #e1e4e6;
    font-family: 'Arapey', serif;
    font-size: 20px;
}

.wrapper {
    padding: 35px 35px 0;
    margin: 0 auto;
    width: 900px;
}

.column_lg {
    float: right;
    width: 554px; /* goldenRectangle */
}

.column_sm {
    float: left;
    width: 306px; /* leave 40px gutter */
}

#header {
    height: 158px; /* same as height of #logo */
    margin: 0 0 35px;
    width: 550px; /* same width as #goldenRectangle */
    text-shadow: 1px 1px 4px #898B8C;
    filter: dropshadow(color=#898B8C, offx=1, offy=1);
}

#footer {
    background-color: rgba(0,0,0,0.25);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
    border-radius: 2px;
    color: #dadcf3;
    font-size: .8em;
    font-variant: small-caps;
    height: 12px;
    margin: 35px 0 0;
    padding: 15px;
    width: 100%;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
    font-style: italic;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
}

em {
    font-style: italic;
}

ul, ol {}

li {
    border-bottom: 1px dashed #9fccea;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 5px 2px;
}

a:link, a:visited, a:hover, a:active {
    color: #e1e4e6;
    border-bottom: 2px #9fccea dotted;
    text-decoration: none;
}

a:hover, a:active {
    color: #9fccea;
    border-bottom: 2px #9fccea dotted;
    text-decoration: none;
}


/* sidebar stuff ("signs") */


.signs {
    background-color: #e1e4e6;
    border: 1px solid #9fccea;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
    border-radius: 2px;
        -webkit-box-shadow: 1px 1px 15px 3px rgba(100, 102, 102, 1);
        -moz-box-shadow: 1px 1px 15px 3px rgba(100, 102, 102, 1);
    box-shadow: 1px 1px 15px 3px rgba(100, 102, 102, 1);
    color: #465966;
    margin: 35px 0;
    padding: 15px 10px;
    width: 215px;
}


.signs h2 {
    border-bottom: 2px dashed #9fccea;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    padding: 0 0 5px;
    text-align: center;
}

.signs p {
    font-size: 16px;
}

.signs a:link, a:visited, a:hover, a:active {
    border: none;
    color: #465966;
    text-decoration: none;
}

.signs a:hover {
    border: none;
    text-decoration: none;
}

/* mix it up! */

#controls {
}

#rules {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    translatex(-2px);
}

#more {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    translatex(2px);
}

.rollup2, .rollup3 {
    display: none;
}





/* in a list */

#justSomeHTML li {
    border: 1px solid #E1E4E6;
    border-bottom: 1px dashed #9fccea;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 5px 2px;
}



#justSomeHTML li:hover {
    background-color: rgba(159,204,234,.8);
    border: 1px solid #9fccea;
    cursor: ns-resize;
}



li.tmpPlaceholder {
    background: url('images/stripe.png') repeat;
    background-color: #9fccea;
}




/* in boxes */


#goldenRectangle {
    height: 340px; /* height of largest */
    width:  550px; /* next fibonacci number :) */

    border: 1px solid #9fccea;
    color: #465966;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
    border-radius: 2px;
        -webkit-box-shadow: 1px 1px 15px 3px rgba(100, 102, 102, 1);
        -moz-box-shadow: 1px 1px 15px 3px rgba(100, 102, 102, 1);
    box-shadow: 1px 1px 15px 3px rgba(100, 102, 102, 1);
}

#goldenRectangle > ul#justSomeHTML > li {
    background-color: #e1e4e6;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
    border: 1px solid #9fccea;
    border-radius: 2px;
        -webkit-box-shadow: 1px 1px 15px 3px rgba(100, 102, 102, 1);
        -moz-box-shadow: 1px 1px 15px 3px rgba(100, 102, 102, 1);
    display: block;
    float: left;
    margin: 0;
}




#goldenRectangle > ul#justSomeHTML > li > span.hide {display: none;}

#goldenRectangle > ul#justSomeHTML > #section-7,
#goldenRectangle > ul#justSomeHTML > #section-8,
#goldenRectangle > ul#justSomeHTML > #section-9 {
    font-size: .9em; padding: 6px;
}

#goldenRectangle > ul#justSomeHTML > #section-5,
#goldenRectangle > ul#justSomeHTML > #section-6 {
    font-size: .7em; padding: 2px;
}

#goldenRectangle > ul#justSomeHTML >#section-4,
#goldenRectangle > ul#justSomeHTML > #section-3 {
    font-size: .5em; padding: 1px;
}

#goldenRectangle > ul#justSomeHTML > #section-2,
#goldenRectangle > ul#justSomeHTML > #section-1 {
    font-size: .3em; padding: 0px;
}

#goldenRectangle > ul#justSomeHTML > li#section-9 {height: 338px; padding: 0; width: 338px;}
#goldenRectangle > ul#justSomeHTML > li#section-8 {height: 208px; padding: 0; width: 208px;}
#goldenRectangle > ul#justSomeHTML > li#section-7 {height: 128px; padding: 0; width: 128px;}
#goldenRectangle > ul#justSomeHTML > li#section-6 {height: 78px; padding: 0; width: 78px;}
#goldenRectangle > ul#justSomeHTML > li#section-5 {height: 48px; padding: 0; width: 48px;}
#goldenRectangle > ul#justSomeHTML > li#section-4 {height: 28px; padding: 0; width: 28px;}
#goldenRectangle > ul#justSomeHTML > li#section-3 {height: 18px; padding: 0; width: 18px;}
#goldenRectangle > ul#justSomeHTML > li#section-2 {height: 8px; padding: 0; width: 8px;}
#goldenRectangle > ul#justSomeHTML > li#section-1 {height: 8px; padding: 0; width: 8px;}





/* float right */
/*
input[type=radio]:checked {float: right;}
*/


/* images etc. */

#spiral {
    height:;
    width: 245px;
}

.floatLeft {float: left;}
.floatRight {float: right;}