/* general */

body {
	background: url('images/light_honeycomb.png') repeat;
	color: #383838;
	font-family: sans-serif;
	font-size: 1.2em;
}

h1 {
	font-size: 30px;
	padding: 25px 0;
	text-align: center;
}

p {
	font-size: 20px;
	font-style: italic;
	padding: 25px 0;
	text-align: center;
}

a, a:visited, a:hover, a:active{
	color: #383838;
	border-bottom: 2px #383838 dotted;
	text-decoration: none;
}

a:hover, a:active{
	color: #606060;
	border-bottom: 2px #383838 dotted;
	text-decoration: none;
}

ol {
	font-size: 16px;
	list-style: lower-roman;
	padding-left: 10px;
}

li {
	padding: 5px;
}

#rules, #download {
	border: 10px solid white;
	float: left;
	height: 300px;
	padding: 20px;
	margin: 0 0 0 15px;	
	width: 200px;
}

#rules {	float: left }
	
#download { float: right }

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#container {
	border: 10px solid white;
	height: 340px; /* height of largest */
	margin: 0 auto;
	width:	550px; /* next fibonacci number :) */
}

/* images */

img.s1 {
	height: 340px;
	width: 340px;
}


img.s2 {
	height: 210px;
	width: 210px;
}


img.s3 {
	height: 130px;
	width: 130px;
}

img.s4 {
	height: 80px;
	width: 80px;
}

img.s5 {
	height: 50px;
	width: 50px;
}

img.s6 {
	height: 30px;
	width: 30px;
}

img.s7 {
	height: 20px;
	width: 20px;
}

img.s8 {
	height: 10px;
	width: 10px;
}

img.s9 {
	height: 10px;
	width: 10px;
}
